<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- ===============================================-->
<!--    Document Title-->
<!-- ===============================================-->
<title>Qg | Manager</title>


<!-- ===============================================-->
<!--    Favicons-->
<!-- ===============================================-->
<!-- <link rel="apple-touch-icon" sizes="180x180" -->
<!-- 	href="/falcon/assets/img/favicons/apple-touch-icon.png"> -->
<!-- <link rel="icon" type="image/png" sizes="32x32" -->
<!-- 	href="/falcon/assets/img/favicons/favicon-32x32.png"> -->
<!-- <link rel="icon" type="image/png" sizes="16x16" -->
<!-- 	href="/falcon/assets/img/favicons/favicon-16x16.png"> -->
<link rel="icon" type="image/png" sizes="16x16"
	href="../falcon/assets/img/favicons/img-qg-icon.ico">
<!-- <link rel="shortcut icon" type="image/x-icon" -->
<!-- 	href="/falcon/assets/img/favicons/favicon.ico"> -->
<!-- <link rel="manifest" href="/falcon/assets/img/favicons/manifest.json"> -->
<!-- <meta name="msapplication-TileImage" -->
<!-- 	content="/falcon/assets/img/favicons/mstile-150x150.png"> -->
<meta name="theme-color" content="#ffffff">
<script src="/falcon/assets/js/config.js"></script>
<script src="/falcon/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>


<!-- ===============================================-->
<!--    Stylesheets-->
<!-- ===============================================-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
	rel="stylesheet">
<link
	href="../falcon/vendors/overlayscrollbars/OverlayScrollbars.min.css"
	rel="stylesheet">
<link href="../falcon/assets/css/theme-rtl.min.css" rel="stylesheet"
	id="style-rtl">
<link href="../falcon/assets/css/theme.min.css" rel="stylesheet"
	id="style-default">
<link href="../falcon/assets/css/user-rtl.min.css" rel="stylesheet"
	id="user-style-rtl">
<link href="../falcon/assets/css/user.min.css" rel="stylesheet"
	id="user-style-default">
<script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
</head>


<body>

	<!-- ===============================================-->
	<!--    Main Content-->
	<!-- ===============================================-->
	<main class="main" id="top">
		<div class="container" data-layout="container">
			<script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
			<div class="row flex-center min-vh-100 py-6">
				<!--           <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4"><a class="d-flex flex-center mb-4" href="#"><img class="me-2" src="../falcon/assets/img/icons/spot-illustrations/falcon.png" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">falcon</span></a> -->
				<div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
					<a class="d-flex flex-center mb-4" href="#"><img class="me-2"
						src="../falcon/assets/img/icons/spot-illustrations/img-tachyontech.png"
						alt="" width="250" /></a>
					<div class="card">
						<div class="card-body p-4 p-sm-5">
							<div class="row flex-between-center mb-2">
								<div class="col-auto">
									<h5>회원가입</h5>
								</div>
								<div class="col-auto fs--1 text-600">
									<span class="mb-0 undefined">아이디가 있으신가요?</span> <span><a
										th:href="@{/main/login}">로그인</a></span>
								</div>
							</div>
							<form id="signUpForm" name="signUpForm" method="post">

								<div class="mb-3">
									<input class="form-control" type="email" autocomplete="on"
										placeholder="Email address" id="accountId" name="accountId"
										required="required" />
								</div>
								<div class="row gx-2">
									<div class="mb-3 col-sm-6">
										<input class="form-control" type="password" autocomplete="on"
											placeholder="Password" id="password" name="password"
											required="required" />
									</div>
									<div class="mb-3 col-sm-6">
										<input class="form-control" type="password" autocomplete="on"
											placeholder="Confirm Password" id="confirm_password"
											name="confirm_password" required="required" />
									</div>
								</div>

								<div class="mb-3">
									<input class="form-control" type="text" autocomplete="on"
										placeholder="Name" id="userName" name="userName"
										required="required" />
								</div>

								<div class="mb-3">
									<input class="form-control" type="text" autocomplete="on"
										placeholder="Department" id="department" name="department" />
								</div>

								<!--                   <div class="form-check"> -->
								<!--                     <input class="form-check-input" type="checkbox" id="basic-register-checkbox" /> -->
								<!--                     <label class="form-label" for="basic-register-checkbox">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label> -->
								<!--                   </div> -->
								<div class="mb-3">
									<button class="btn btn-primary d-block w-100 mt-3"
										onclick="saveUserInfo()" name="submit">회원가입 완료</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- ===============================================-->
	<!--    End of Main Content-->
	<!-- ===============================================-->

	<!-- ===============================================-->
	<!--    JavaScripts-->
	<!-- ===============================================-->
	<script src="../vendor/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/jquery.validate.js"></script>
	<script src="../scripts/page-register.js"></script>

</body>

</html>